
body{
    height: 100%;
    width: 100%;
    background-color: #44C17b;
}

/*Login Component*/

.loginWrapper{
    background: #eceeee;
    border: 1px solid hsl(213, 73%, 75%);
    border-radius: 6px;
    height: 257px;
    width: 350px;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
    float: left;
}

.loginText{
    width: 50%;
    padding: 12px 20px;
    align-items: center;
    box-sizing: border-box;
    margin-left: 25% ;
    margin-top: 50px;
}

.loginButton, .startButton{
    display: inline-block;
    padding: 15px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: #FFFF00;
    margin-left: 100px;
    margin-top: 5%;
}

.loginButton:hover {background-color: #FFFF00}

.loginButton:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



.leaderBoard{
    float: left;
}

.centralComponent{
    margin-left: 25%;
    float: left;
}