@import  url(https://fonts.googleapis.com/css?family=Montserrat);

body{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #052e5c;
    background-image: url('./background.png');
    background-size: cover;
}

.leaderBoard{
    float: left;
    background-color: #042449;
    color:#71eeb8;
    width: 25vw;
    height: 100vh;
    overflow: hidden;
    text-align:center;
}

.homePageWrapper{
    background-color: #052e5c;
    background-image: url('./background.png');
    background-size: cover;
    width:50vw;
    height:100vh;
    float: left;
    color:220077;
}

.revealedColor{
    display: inline-block;
    color: #f9a602;
    white-space: nowrap;
}

.remainingColor{
    display: inline-block;
    color: #71eeb8;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    margin-left: -.25em;
}

.messageBoard
{
    float: left;
    background-color: #71eeb8;
    color:#002266;
    width: 25vw;
    height: 100vh;
    overflow: hidden;
    text-align:center;
}

.centralItem {
    float: left;
    background-color: #042449;
    color:#71eeb8;
    width: 40vw;
    padding: 2vh 5vw;
    margin:2vh 5vw;
    min-height:20vh;
    box-sizing:border-box;
    text-align: center;
    border-radius: 2vw;
}

.centralItem input {
    background-color: #ffffff;
    width: 30vw;
    margin: 2vh auto;
    padding:2vh 2vw;
    box-sizing:border-box;
    text-align: center;
    border-radius: 1vw;
    opacity:0.8;
    font-family: inherit;
    font-weight: 400;
    font-size: 15px;
}
.centralItem button {
    background-color: #71eeb8;
    color:#575d64;
    width: 20vw;
    margin:3vh 5vw;
    height: 6vh;
    float:left;
    text-align: center;  
    border-radius: 1vw;
    font-family: inherit;
    font-weight: 400;
    font-size: 15px;
}

    
.word {
    float: left;
    background-color: #042449;
    color:#71eeb8;
    width: 40vw;
    padding: 2vh 5vw;
    margin:2vh 5vw;
    min-height:4vw;
    box-sizing:border-box;
    text-align: center;
    border-radius: 2vw;
    font-size: 1.5em;
    opacity: .85;
}

.QuestionView {
    min-height: 4vh;
}

.twoButtonsCombinedView button {
    background-color: #71eeb8;
    color:#042449;
    width: 11vw;
    margin:2vh 2vw;
    height: 6vh;
    float:left;
    text-align: center;  
    font-family: inherit;
    font-weight: 400;
    font-size: 15px;
}


.UserList {
    width: 25vw;
    margin:0;
    min-height: 8vh;
    text-align: center; 
    box-sizing: border-box;
    padding: 2vh 2vw;
    font-size: 1.2em; 
}

.userName {
    float:left;
    width: 15vw;
    text-align: left;  
}

.userScore {
    float:left;
    width: 6vw;
    text-align: center;  
}

.leaderboardEntry {    background-color: #71eeb8; color:#000000;  }

.leaderboardEntry:nth-child(1) {    background-color: #f9a602;  }
.leaderboardEntry:nth-child(2) {    background-color: #c0c0c0;  }
.leaderboardEntry:nth-child(3) {    background-color: #a97142;  }


.messageBoard {
    background-color: #042449;
}

.MessageList {
    width: 25vw;
    margin:0;
    text-align: left; 
    box-sizing: border-box;
    padding: 1vh 2vw;
    font-size: 1.2em;
}

.message {
    background-color: #71eeb8;
    height: 82vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
}

.message::webkit-scrollbar {display:none;}

.messageHeader {
    height: 10vh;
    background-color: #042449;
    color: #71eeb8;
}

.timerClass {
    color: rgb(231, 52, 52);
}
.sendMessage {
    background-color: #042449;
    color:#71eeb8;
    width: 5vw;
    height: 5vh;
    float:left;
    text-align: center; 
}

.messageInput {
    float: left;
    width: 19vw;
    height: 5vh;
}

.loginWrapper {
    float: left;
    background-color: #042449;
    color:#71eeb8;
    width: 40vw;
    padding: 2vh 5vw;
    margin:30vh 30vw;
    min-height:20vh;
    box-sizing:border-box;
    text-align: center;
    border-radius: 2vw;
    font-family: inherit;
    font-weight: 400;
    font-size: 20px;
}

.loginText {
    background-color: #ffffff;
    width: 30vw;
    margin: 2vh auto;
    padding:2vh 2vw;
    box-sizing:border-box;
    text-align: center;
    border-radius: 1vw;
    opacity:0.8;
}
.loginButton {
    background-color: #71eeb8;
    color:#042449;
    width: 20vw;
    margin:3vh 5vw;
    height: 10vh;
    float:left;
    text-align: center;  
    border-radius: 1vw;
}
